.card {
    height: 20rem;
    /* margin-top: 10rem; */
}

.cards {
    height: 5rem;
}

.gridBottom {
    background-color: yellow;
    margin: 0;
    height: 26rem;
}

.Card1Right {
    background-color: blue;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card1R {
    height: 350px;
    padding-bottom: 0;
}

.Card2Left {
    background-color: yellow;
    margin-bottom: 3rem;
    padding-top: -100rem;
}

.Card2Right {
    background-color: violet;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    height: 3px;
}

.card2R {
    height: 350px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.card1 {
    border: 2px solid pink;
    background-color: pink;
}

.sample {
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 350px;
}

.card2RR {
    margin-top: -3rem;
    margin-bottom: 3rem;
    height: 350px;
}

.sample .card1 .card1Btn {
    border: 2px solid pink;
    background-color: blue;
    color: red;
}


.card2 {
    height: 4rem;
    margin-top: 1rem;
}
.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}