.divider{
margin-top: 15rem;
}

@media(max-width: 992px){
    .divider{
        margin-bottom: 90rem;
    }
}
@media(max-width: 600px){
    .divider{
        margin-bottom: 90rem;
    }
}
@media(max-width: 578px){
    .divider{
        margin-bottom: 100rem;
    }
}