.planbutton {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: transparent;
  border-color: skyblue;
  border-radius: 30px;
  color: skyblue;
  margin-top: -6rem;
  padding-bottom: 5px;
}

.planbutton:hover {
  background-color: skyblue;
  color: white;
  border-color: skyblue;

}

.popupbtn {
  background-color: green;
  padding: auto;
}
.popupbtn:hover {
  background-color: green;
  color: green;
}
.closebtn{
  color: white;
  background-color: red;
  border-color: red;
}
.closebtn:hover{
  color: red;
  background-color: white;
  border-color: red;
}
.submitbtn{
  color: white;
  background-color: green;
  border-color: green;
  margin-left: -1rem;
}
.submitbtn:hover{
  color: green;
  background-color: white;
  border-color: green;
}