/* .container{
background-color:#99c2f2;
margin-top: 2rem;
margin-bottom: -11rem;
height: 10rem;
width: 100%;
border: 2px solid black;
}
.col{
    border-color: black;
    border: 1px solid #ccc;
    height: 10rem;
}
th{
    width: 5rem;
}
.partner-image{
    height:5rem ;
    margin: 20px;
} */
.partner-image{
    height:5rem ;
    margin: 100px;
    margin-bottom: -100rem;
}
.partners-div{
    margin-bottom: -30rem;
}
.portfolio-btn{
    border-color: transparent;
    background-color: transparent;
    color: black;
    text-decoration: none;
}
.portfolio-btn:hover{
    border-color: transparent;
    background-color: transparent;
    color: orange;
    text-decoration: none;
}
.portfolio-btn.active{
    color: black;
    text-decoration: none;
}
@media (max-width: 1200px) {
    .partners-div{
        margin-bottom: -60rem;
    }
}
@media (max-width: 992px) {
    .partners-div{
        margin-bottom: -55rem;
    }
}
@media (max-width: 800px) {
    .partners-div{
        margin-bottom: -65rem;
    }
}
@media (max-width: 700px) {
    .partner-image{
        height:7rem ;
        margin: 60px;
    }
    .partners-div{
        margin-bottom: -60rem;
    }
}
@media (max-width: 600px) {
    .partner-image{
        height:9rem ;
        margin: 60px;
    }
    .partners-div{
        margin-bottom: -60rem;
    }
}
@media (max-width: 500px) {
    .partner-image{
        height:9rem ;
        margin: 60px;
    }
    .partners-div{
        margin-bottom: -45rem;
    }
    .portfolio-btn{
        margin-left: -1px;
        margin-right: 1px;
    }
}