/* .popup-form {
    position: relative;
  }
  
  .popup-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .popup-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-form-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
    width: 100%;
  }
  
  .popup-form-content h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .popup-form-content label {
    display: block;
    margin-bottom: 8px;
  }
  
  .popup-form-content input,
  .popup-form-content textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .popup-form-content button[type="submit"],
  .popup-form-content button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .popup-form-content button[type="submit"]:hover,
  .popup-form-content button[type="button"]:hover {
    background-color: #45a049;
  }
  
  .popup-form-content button[type="submit"]:focus,
  .popup-form-content button[type="button"]:focus {
    outline: none;
  }
   */

.planbutton {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: transparent;
  border-color: skyblue;
  border-radius: 30px;
  color: skyblue;
  margin-top: -6rem;
  padding-bottom: 5px;
}

.planbutton:hover {
  background-color: skyblue;
  color: white;
  border-color: skyblue;

}

.popupbtn {
  background-color: green;
  padding: auto;
}
.popupbtn:hover {
  background-color: green;
  color: green;
}
.closebtn{
  color: white;
  background-color: red;
  border-color: red;
}
.closebtn:hover{
  color: red;
  background-color: white;
  border-color: red;
}
.submitbtn{
  color: white;
  background-color: green;
  border-color: green;
  margin-left: -1rem;
}
.submitbtn:hover{
  color: green;
  background-color: white;
  border-color: green;
}