.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: gray; */
}

.col-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  background-color: orange;
}

.col-8 {
  flex: 0 0 66.67%;
  max-width: 66.67%;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: green; */
}

@media (max-width: 767px) {
  .col-4, .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
