* {
  box-sizing: border-box;
}
.row{
  height: 550px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 60%;
  /* padding: 10px; */
  height: 800px; /* Should be removed. Only for demonstration */
  padding: 2rem;
  margin-top: 1rem;
  /* border: 2px solid black; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row .column1 {
  float: left;
  width: 40%;
  padding: 10px;
  height: 800px; /* Should be removed. Only for demonstration */
  padding: 2rem;
  margin-top: 1rem;
  /* border: 2px solid black; */
}
.row .column .carddiv1{
  /* padding-top: 2rem; */
}
.row .column .carddiv{
  padding-top: 2rem;
}

