   * {
     box-sizing: border-box;
   }

   .row {
     height: 550px;
   }

   /* Create two equal columns that floats next to each other */
   .column {
     float: left;
     width: 100%;
     /* padding: 10px; */
     height: 800px;
     /* Should be removed. Only for demonstration */
     padding: 2rem;
     margin-top: 1rem;
     /* border: 2px solid black; */
   }

   /* Clear floats after the columns */
   .row:after {
     content: "";
     display: table;
     clear: both;
   }

   .row .column1 {
     float: left;
     width: 40%;
     padding: 10px;
     height: 800px;
     /* Should be removed. Only for demonstration */
     padding: 2rem;
     margin-top: 1rem;
     /* border: 2px solid black; */
   }

   .row .column .carddiv1 {
     /* padding-top: 2rem; */
   }

   .row .column .carddiv {
     padding-top: 2rem;
   }


   .testimonial-container {
     width: 100%;
     max-width: 800px;
     margin: 0 auto;
     padding: 30px;
     background-color: none;
   }

   .testimonial-card {
     background-color: #4287f5;
     border: 1px solid orange;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
     padding: 20px;
     margin-top: 5rem;
     height: 32rem;
     margin-right: 1rem;
   }

   .testimonial-image {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     margin-bottom: 20px;
     margin-right: 1rem;
     margin-top: 1rem;
   }

   .testimonial-text {
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 0px;
     text-align: justify;
     margin-top: 1px;
     font-style: italic;
     padding: 10px;
     color: white;
   }

   .testimonial-name {
     font-size: 20px;
     font-weight: bold;
     /* margin-bottom: 10px; */
   }

   .testimonial-names {
     font-size: 20px;
     font-weight: bold;
     /* margin-bottom: 15rem; */
   }

   .testimonial-title {
     font-size: 16px;
     color: #777;
     margin-bottom: 0;
   }

   .checked {
     color: orange;
   }

   /* .FiveStars {
    color: #FFD700;
    font-size: 24px;
  } */

   .star-ratings {
     display: flex;
     justify-content: flex-start;
     /* background-color: pink; */
     margin-left: 2.5rem;
     margin-top: -1rem;
   }

   /* @media (max-width: 1200px) {
     .row {
       background-color: transparent;
     }

     .testimonial-card {
       margin-top: 1px;
       height: 40rem;
       margin-left: 1rem;
     }

     .testimonial2-cards {
       margin-top: 1px;
       height: 40rem;
     }
   } */

   @media (max-width: 991.98px) {
     .testimonial-card {
       height: 40rem;
       font-size: 10px;
       margin-top: -1rem;
     }

     .column {
       float: left;
       width: 60%;
       /* padding: 10px; */
       height: 400px;
       /* Should be removed. Only for demonstration */
       padding: 2rem;
       margin-top: 1rem;
       /* border: 2px solid black; */
     }

     /* Clear floats after the columns */
     .row:after {
       content: "";
       display: table;
       clear: both;
     }

     .row .column1 {
       float: left;
       width: 40%;
       padding: 10px;
       height: 25px;
       /* Should be removed. Only for demonstration */
       padding: 2rem;
       margin-top: 1rem;
       /* border: 2px solid black; */
     }

     .row .column .carddiv1 {
       /* padding-top: 2rem; */
     }

     .row .column .carddiv {
       padding-top: 2rem;
     }
   }

   @media (max-width: 900px) {
     .row {
       /* background-color: green; */
       margin-bottom: -150rem;
     }

     .testimonial-container {
       /* margin-left: 1; */
     }

     .testimonial-card {
       margin-top: 1px;
       height: 31rem;
       margin-left: 1rem;
     }

     .testimonial2-cards {
       margin-top: 1px;
       height: 31rem;
     }
   }
   @media (max-width: 800px) {
    .row {
      /* background-color: green; */
      margin-bottom: -150rem;
    }

    .testimonial-container {
      /* margin-left: 1; */
    }

    .testimonial-card {
      margin-top: 1px;
      height: 20rem;
      margin-left: 1rem;
    }

    .testimonial2-cards {
      margin-top: 1px;
      height: 34rem;
    }
  }

   @media (max-width: 768px) {
     .testimonial-container {
       padding: 10px;
     }

     .testimonial-card {
       padding: 10px;
       height: -50rem;
     }

     .testimonial-image {
       width: 75px;
       height: 75px;
     }

     .testimonial-text {
       font-size: 16px;
     }

     .testimonial-name {
       font-size: 18px;
     }

     .testimonial-title {
       font-size: 14px;
     }
   }

   @media (max-width: 700px) {
     .row {
       /* background-color: green; */
       /* margin-top: -1rem; */
     }

     .testimonial-container {
       /* margin-left: 1; */
     }

     .testimonial-card {
       height: 20.2rem;
       margin-left: 1rem;
     }

     .testimonial2-cards {
       margin-top: 1px;
       height: 30rem;
       margin-bottom: 12px;
     }
   }

   @media (max-width: 500px) {
     .row {
       /* background-color: green; */
       /* margin-top: -1rem; */
     }

     .testimonial-container {
       /* margin-left: 1; */
     }

     .testimonial-card {
       height: 20.2rem;
       margin-left: 1rem;
     }

     .testimonial2-cards {
       margin-top: 1px;
       height: 30rem;
       margin-bottom: 12px;
     }
   }