.row {
    /* background-color: yellow; */
    margin-bottom: 8rem;
}

.col1 {
    background-color: transparent;
}

.col2 {
    /* background-color: #ffa500; */
    margin-left: -20rem;
    margin-right: 12px;
    padding-top: 1rem;
    background-image: url('./../../assets/services/sanitizing/testimonial-bg.jpg');
    background-size: cover; 
    background-position: center;
    padding-bottom: 2rem;
}
/* @media (max-width: 1200px) {
    .col1 {
        background-color: transparent;
        margin-bottom: -15rem;
    }

    .col2 {
        background-color: blue;
        margin: 12rem;
        margin-top: 3rem;
        margin-left: 1.5px;
        height: 40rem;
        padding-top: 4rem;
        padding-bottom: -15rem;
    }
} */

@media (max-width: 992px) {
    .col1 {
        background-color: transparent;
        margin-bottom: -15rem;
    }

    .col2 {
        background-color: blue;
        margin: 12rem;
        margin-top: 3rem;
        margin-left: 1.5px;
        height: 40rem;
        padding-top: 4rem;
        padding-bottom: -15rem;
    }
}

@media (max-width: 800px) {
    .col1 {
        background-color: transparent;
        margin-bottom: -15rem;
    }

    .col2 {
        background-color: violet;
        margin: 12rem;
        margin-top: 3rem;
        margin-bottom: 55rem;
        margin-left: 1.5px;
        padding-top: 3rem;
        padding-bottom: 25rem;
    }
}

@media (max-width: 767px) {
    .col1,
    .col2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col2 {
        height: 50rem;
    }
}

@media (max-width: 700px) {
    .col1 {
        background-color: transparent;
        margin-bottom: -6rem;
    }

    .col2 {
        background-color: gray;
        margin: 12rem;
        margin-top: 4rem;
        margin-bottom: 50rem;
        margin-left: 1.5px;
        padding-top: 4rem;
        padding-bottom: -15rem;
    }
}

@media (max-width: 600px) {
    .col1 {
        background-color: transparent;
    }

    .col2 {
        background-color: violet;
        margin: 12rem;
        margin-top: 8rem;
        margin-bottom: 50rem;
        margin-left: 1.5px;
        padding-top: 4rem;
        padding-bottom: -15rem;
    }
}

@media (max-width: 500px) {
    .col1 {
        background-color: transparent;
        margin-bottom: -25px;
    }

    .col2 {
        background-color: orange;
        margin: 12rem;
        margin-left: 1.5px;
        margin-top: 3rem;
        padding-top: 4rem;
        padding-bottom: -15rem;
    }
}